@model PCB.NET.Domain.Model.WorkshopPCB.Warehouse.Hanging

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hanging</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.NameItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.NameItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size.Sizes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.Sizes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatedItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatedItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
