@model IEnumerable<PCB.NET.Domain.Model.WorkshopPCB.Warehouse.Hanging>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.NameItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size.Sizes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatedItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.NameItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size.Sizes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatedItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HangingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HangingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HangingId })
        </td>
    </tr>
}

</table>
