@model PCB.NET.Domain.Model.WorkshopPCB.Warehouse.GasBalloon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GasBalloon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BalloonNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BalloonNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNextModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNextModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GasBalloonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
