@model IEnumerable<PCB.NET.Domain.Model.WorkshopPCB.Warehouse.GasBalloon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BalloonNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateNextModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BalloonNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateNextModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GasBalloonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GasBalloonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GasBalloonId })
        </td>
    </tr>
}

</table>
