@model IEnumerable<PCB.NET.Domain.Model.Warehouse.SMD>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Packages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feeder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Packages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feeder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SMDId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SMDId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SMDId })
        </td>
    </tr>
}

</table>
