@model PCB.NET.Web.Areas.PCB.Models.WarehouseViewModel.HangingViewModel

@{
    ViewBag.Title = "Подробное описание";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>Описание </h2>

<div>
    <h4>Навесные элементы</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.NameItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.NameItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size.Sizes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.Sizes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatedItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatedItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit_Hanging", new { id = Model.HangingId })" class="btn btn-warning">Изменить</a> |
    <a href="@Url.Action("HangingList")" class="btn btn-default">Назад к списку</a>
</p>
