
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Балоны с азотом</h2>
        <p>
            Регистрация новых балонов
        </p>
        <p><a class="btn btn-default" href="@Url.Action("GasBalloonList","Warehouse", new { area = "PCB"})">Открыть &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>СМД элементы</h2>
        <p>
            Работа с СМД элементами
        </p>
        <p><a class="btn btn-default" href="@Url.Action("SMDList","Warehouse", new { area = "PCB"})">Открыть &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>Навесные элементы</h2>
        <p>
            Работа с навесными элементами
        </p>
        <p><a class="btn btn-default" href="@Url.Action("HangingList","Warehouse", new { area = "PCB"})">Открыть &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>Разные элементы</h2>
        <p>
            Добавление/регистрация других элементов
        </p>
        <p><a class="btn btn-default" href="@Url.Action("OtherStoreList","Warehouse", new { area = "PCB"})">Открыть &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>Размеры навесных элементов</h2>
        <p>
            Добавление/регистрация размеров навесных элементов
        </p>
        <p><a class="btn btn-default" href="@Url.Action("SizeList","Warehouse", new { area = "PCB"})">Открыть &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>Размеры СМД элементов</h2>
        <p>
            Добавление/регистрация размеров СМД элементов
        </p>
        <p><a class="btn btn-default" href="@Url.Action("PackageList","Warehouse", new { area = "PCB"})">Открыть &raquo;</a></p>
    </div>
</div>