@model PCB.NET.Web.Areas.PCB.Models.WarehouseViewModel.SizeListViewModel

@{
    ViewBag.Title = "Размеры элементов";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create_Size")" class="btn btn-primary">Добавить новый</a>
</p>
<table class="table">
    <tr>
        <th>
            Sizes
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Size)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sizes)
            </td>
            <td>
                <a href="@Url.Action("Edit_Size", new { id = item.SizeId })" class="btn btn-warning btn-sm">Изменить</a> |
                <a href="@Url.Action("Details_Size", new { id = item.SizeId })" class="btn btn-info btn-sm">Посмотреть детали</a> |
                <a href="@Url.Action("Delete_Size", new { id = item.SizeId })" class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>
    }
</table>
<ul class="pagination">
    <li>@Html.PageLinksLeft(Model.ListView, x => Url.Action("SizeList", new { Page = x }))</li>
    <li>@Html.PageLinks(Model.ListView, x => Url.Action("SizeList", new { Page = x }))</li>
    <li>@Html.PageLinksRight(Model.ListView, x => Url.Action("SizeList", new { Page = x }))</li>
</ul>