@model PCB.NET.Web.Areas.PCB.Models.MapViewModel.MapBoardViewModel


@{
    ViewBag.Title = "Удалить";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<h3>Вы точно хотите удалить?</h3>
<div>
    <h4>Связи плана</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Board.NameBlock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Board.NameBlock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Map.MapId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Map.MapId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountBoard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountBoard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountHanging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountHanging)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountDvc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountDvc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountEbso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountEbso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountPreComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountPreComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountReadyDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountReadyDone)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a href="@Url.Action("MapBoardList")" class="btn btn-default">Назад к списку</a>
        </div>
    }
</div>
