@model PCB.NET.Web.Areas.PCB.Models.MapViewModel.MapViewModel

@{
    ViewBag.Title = "Подробное описание";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>Описание </h2>

<div>
    <h4>План</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit_Map", new { id = Model.MapId })" class="btn btn-warning">Изменить</a> |
    <a href="@Url.Action("Index")" class="btn btn-default">Назад к списку</a>
</p>
