@model PCB.NET.Web.Areas.PCB.Models.MapViewModel.MapBoardListViewModel

@{
    ViewBag.Title = "План";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title за @Model.MapBoardSingle.Map.Date</h2>

<div>
    <p><a class="btn btn-default" href="@Url.Action("Index","Map", new { area = "PCB"})">&laquo; Назад</a></p>
    <hr />
    <p>
        <a href="@Url.Action("Create_MapBoard", "Map", new { id = Model.CurrentMap })" class="btn btn-primary">Добавить позицию</a>
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.LabelFor(m => m.MapBoardSingle.Map.Date)
        </th>
        <th>
            @Html.LabelFor(m => m.MapBoardSingle.Board.NameBlock)
        </th>
        <th>
            @Html.LabelFor(m => m.MapBoardSingle.CountBoard)
        </th>
        <th>
            @Html.LabelFor(m=> m.MapBoardSingle.CountHanging)
        </th>
        <th>
            @Html.LabelFor(m => m.MapBoardSingle.CountDvc)
        </th>
        <th>
            @Html.LabelFor(m => m.MapBoardSingle.CountEbso)
        </th>
        <th>
            @Html.LabelFor(m => m.MapBoardSingle.CountPreComplete)
        </th>
        <th>
            @Html.LabelFor(m => m.MapBoardSingle.CountReadyDone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.MapBoard)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Map.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Board.NameBlock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountBoard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountHanging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountDvc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountEbso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountPreComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountReadyDone)
            </td>
            <td>
                <a href="@Url.Action("Edit_MapBoard", new { id = item.SingleMapBoardId })" class="btn btn-warning btn-sm">Изменить</a> |
                <a href="@Url.Action("Details_MapBoard", new { id = item.SingleMapBoardId })" class="btn btn-info btn-sm">Посмотреть детали</a> |
                <a href="@Url.Action("Delete_MapBoard", new { id = item.SingleMapBoardId })" class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>
    }
</table>
<ul class="pagination">
    <li>@Html.PageLinksLeft(Model.ListView, x => Url.Action("MapBoardList", new { Page = x }))</li>
    <li>@Html.PageLinks(Model.ListView, x => Url.Action("MapBoardList", new { Page = x }))</li>
    <li>@Html.PageLinksRight(Model.ListView, x => Url.Action("MapBoardList", new { Page = x }))</li>
</ul>