@model IEnumerable<PCB.NET.Domain.Model.WorkshopPCB.Warehouse.HangingItemMap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Board.NameBlock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hanging.ValueItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameItem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Board.NameBlock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hanging.ValueItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameItem)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HangingItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HangingItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HangingItemId })
        </td>
    </tr>
}

</table>
