@model PCB.NET.Domain.Model.WorkshopPCB.Warehouse.OtherStore

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OtherStore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.NameItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.NameItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueItemOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueItemOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueItemTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueItemTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionItemOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionItemOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionItemTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionItemTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionItemThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionItemThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OtherStoreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
