@model IEnumerable<PCB.NET.Domain.Model.WorkshopPCB.Warehouse.OtherStore>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.NameItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueItemOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueItemTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionItemOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionItemTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionItemThree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.NameItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueItemOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueItemTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionItemOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionItemTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionItemThree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OtherStoreId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OtherStoreId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OtherStoreId })
        </td>
    </tr>
}

</table>
